body {
    background: rgb(245, 245, 245);
    /* background: linear-gradient(90deg, rgba(193,193,193,1) 0%, rgba(235,235,235,1) 50%, rgba(193,193,193,1) 100%); */
}

#bill {
    margin-right: 0.5em;
    background-repeat: no-repeat;
}